{% extends "picastro_web/base.html" %}
{% block title %}Main Feed{% endblock %}
{% block content %}

<h1>Main Feed</h1>

    {% for post in object_list %}

        <p style="font-size: 1.5em; margin-bottom: -10px;">{{ post.astroNameShort }} - {{ post.astroName }}</p>
        <p>Posted By: {{ post.poster }}</p>
        <img src="/media/{{ post.image }}" alt="{{ post.imageDescription }}">
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div>Image Category: {{ post.imageCategory }}</div>
            <div>Exposure Time: {{ post.exposureTime }}</div>
            <div>Moon Phase: {{ post.moonPhase }}</div>
            <div>Cloud Coverage: {{ post.cloudCoverage }}</div>
            <div>Bortle: {{ post.bortle }}</div>
        </div>
        <p>{{ post.imageDescription }}</p>

    {% endfor %}

{% endblock %}